{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

      


    {% for skill_type in skills.toolset %}
   
      
      <div class ="skill-type">
        <h3 class ="skill-type-name">{{ skill_type.type }}: </h3>  
      
      
        {% for skill in skill_type.type_list %}
        
        
          <div class="item">

            <h4 class="level-title">{{ skill.name }}</h4>

            <!-- <div class="level-bar"> 
              <div class="level-bar-inner" data-level="{{ skill.level }}">
              </div>
            </div> -->
            <!--//level-bar-->

          </div><!--//item-->
        
        {% endfor %}
       </div>
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
