@media print
{
   @page {
      size: A4;
      
   }
   body {
      font-size: 12pt;
   }

   img.avatar {
      filter: grayscale(1);
      -webkit-filter: greyscale(1);
      width: 100px !important;
   }

   .main-wrapper .time {
      float: right;
       color: black !important;
      -webkit-print-color-adjust: exact; 
   }
   .sidebar-wrapper {
      position: static;
      float: right;
      width: 38%;
      -webkit-print-color-adjust: exact; 
   }

   .project-title{
      font-weight: bold !important;
   }



   .remove-container.container-block {
      display: none;
   }

   .languages-container.container-block {
      display: block;
   }
   // .interests-container.container-block{
   //    display: none;
   // }

   footer {
      display: none;
   }

   .skillset .level-bar-inner {
      background-color: gray !important;
      -webkit-print-color-adjust: exact; 
      // display: none;
   }
   // .skillset .level-bar{
   //    display:none;
   // }
   .skillset .item{
      margin-bottom: 5px;
   }
   .skillset .level-title{
      margin-bottom: 0px;
   }
   .main-wrapper {
      text-align: left;
   }
   a[href]:after {
      content: none !important;
    }

    fa-inverse, .fa-inverse:before {
      color:#FFF!important;
  }
}